* {
	box-sizing: border-box;
}
body{
	font: 18px/22px Arial, Helvetica, Verdana, sans-serif;
	margin:0;
	color: #fff;
	-webkit-text-size-adjust:none;
	position: relative;
}
p{
	position: relative;
	margin: 0 0 20px;
}
p span{
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	background: #f00;
	width: 40px;
	text-align: center;
	font-size: 25px;
}
#wrapper{
	padding: 130px 20px 20px;
	background: #7db9e8;
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%);
	background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%);
	position: relative;
}
.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #fc0;
	padding: 20px;
	text-align: center;
	z-index: 2;
}
.lightbox-holder{
	display: none;
	top: 0;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9900;
}
.lightbox-holder-fixed .lightbox-overlay,
.lightbox-holder-fixed{
	position: fixed;
	height: auto;
}
.lightbox-overlay{
	background: rgba(0, 0, 0, .7);
	display: none;
	height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.lightbox-wrapper{
	position: relative;
	background: #fff;
	padding: 10px;
	max-width: 600px;
	margin: 0 auto;
	color: #000;
	overflow: auto;
	z-index: 2;
}
.lightbox-loading {
	display: none;
	background: #000;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	opacity: 0.8;
	cursor: pointer;
	width: 44px;
	height: 44px;
	z-index: 9910;
}
.lightbox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/loading.gif') center center no-repeat;
}
.lightbox{
	padding: 10px;
	height: calc(100vh - 20px);
	overflow: auto;
}
input{
	width: 100%;
	margin: 0 0 10px;
	padding: 10px;
}
input[type=submit]{
	padding: 10px;
}
@media only screen and (max-width: 767px) {
	body{
		font-size: 12px;
		line-height: 14px;
	}
	.lightbox-wrapper{
		width: 280px;
	}
}